*__pycache__
2049bbs.github.io
secrets*
schedrun*
sand.py
sand.js
secret.bin
jinja_test/
dump*
*?deploy.sh
j*b/
ga.png
*.tar*
release_token*
backup
*.psd
test_view*
*.cover
trace/
trace.txt
prof/*
hash.py
default_ques*
*creds*
arangodb*.bat
temp/
templates/images/material
prof/
tbd.py
recovery/

templates/highlight/*.*
!templates/highlight/*.js
!templates/highlight/LICENSE

templates/highlight/styles/*.*
!templates/highlight/styles/atom-one-light.css

takeoff/root_path.py
takeoff/testfile.py

takeoff/yyets_parse.py
takeoff/yyparse2.py
