.pagination a {
text-decoration: none;
display: inline-block;
}
.reply_count {
    display: inline-flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 90%;
    color: white;
    background-color: #989898;
    padding: 0.1em 0.6em;
    border-radius: 0.9em;
    opacity: 0.5;
    color: white;
    text-decoration: none;
    margin-right: .3em;
}
img#site_logo {
  /* width: 100px; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  height: 36px;
  margin-right: 15px;
}


body {
  background-color: #808080;
}

#header {
  /* width: 100%; */
  /* height: 30px; */
  padding: 6px 20px;
  background: #f3f3f3;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

div#site_name {color: #005bac;font-family: arial;/* display: inline-block; *//* font-weight: bold; */font-style: italic;/* vertical-align: middle; */font-size: 24px;letter-spacing: 5px;}

.leftalign {
  /* justify-content: stretch; */
  align-items: center;
  /* align-content: center; */
  display: flex;
}

.details .meta {
  font-size: 77%;
  color: #cacaca;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  overflow: visible;
  /* opacity: .6; */
  display: flex;
}

.avatar{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.threadlistitem .avatar {
  vertical-align: middle;
  /* margin-right: 10px; */
}

.threadlistitem .details{
  /* display: inline-block; */
  /* vertical-align: middle; */
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  /* flex-grow: 1; */
}

.copyright {
  font-size: 80%;
  color: gray;
  margin: 0.2em 0;
  display: inline-block;
  text-decoration: none;
  /* vertical-align: baseline; */
}

div#footer {
  margin-top: 0px;
  padding: 14px 0px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #efefef;
  /* background-color: white; */
}

span.last_commented_date {
  color: #af819a;
}

.meta .user_name {
  /* display: inline-flex; */
  /* width: 90px; */
  /* justify-content: flex-end; */
  color: #797979;
  /* font-weight: bold; */
  text-decoration: none;
  /* margin-right: 5px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  white-space: nowrap;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.details .title a {
  font-size: 16px;
  text-decoration: none;
  color: #252525;
}

.title {
  margin-bottom: 5px;
}

.threadlistitem {
  margin: 0px 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 9px 0;
  border-color: #e8e8e8;
  /* border-radius: 0; */
  /* background: rgb(245 245 245); */
  /* background: linear-gradient(0deg, hsl(0 0% 96% / 1) 0%,  rgba(255,255,255,1) 100%); */
}

.category_name {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px 0;
  text-decoration: none;
}

.category_name {
  display: inline-flex;
  background-color: #989898;
  max-width: 60px;
  width: 70px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 4px;
  flex-flow: column;
}

.threadlistitem:last-child:not(#editor) {
  /* border-width: 1px 0; */
}

.pagenumber {
  display: inline-block;
  text-decoration: none;
  color: #8e8787;
  border-width: 1px;
  /* border-style: solid; */
  border-radius: 5px;
  padding: 3px 3px;
  font-size: 80%;
}


.pagenumber.current {
    background: #dcf3dc;
}

.pagination {
    /* margin: 6px 0; */
    /* font-size: 1px; */
}

.threadlistitem > *{/* align-items: stretch; */}

.header {
    font-size: 22px;
    margin: .6em 0;
    color: #7392ad;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}


.pagination>.group {
    margin: 6px 6px 6px 0;
    display: inline-block;
}


.meta > * {
    vertical-align: middle;
    display: inline-flex;
    /* overflow: visible; */
    /* width: 80px; */
    /* max-width: 80px; */
    text-decoration: none;
    justify-content: flex-start;
    /* padding-bottom: 2px; */
    margin-right: 8px;
}

.details>.post_content {
    /* display: inline-block; */
}

.threadlistitem {
    display: flex;
    align-items: stretch;
    /* align-content: baseline; */
    justify-content: flex-start;
    /* background-color: green; */
}


.left {
    /* height: 100%; */
    min-width: 63px;
    vertical-align: top;
}

.right {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.left .avatar {/* margin-right: 15px; */}


.response {
    color: #089600;
    /* width: 70px; */
    justify-content: flex-end;
}

#content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

body>#content {
    margin-left: 20px;
    margin-right: 20px;
}

.post_content p {
    margin: 0 0 .5em 0;
    word-break: break-all;
    line-height: 170%;
}

.post_content p:last-child {
    margin-bottom: 0;
}

.post_content li {
    margin: 0 0 8px 0;
    line-height: 170%;
}

.post_content ol, .post_content ul {
    margin: 0 0 .2em 0;
    padding-left: 2em;
}

.post_content blockquote {
    background: #f3f3ac80;
    margin: 2px 0 8px 0;
    padding: 10px;
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: #b7b76061;
    display: inline-block;
}


.post_content img {
    max-height: 800px;
    max-width: 100%;
}

span.floor_num {color: #652929;}

.post_content .videowrapper {
    /* width: 640px; */
    /* height: 480px; */
}

.post_content iframe {
    /* width: 100%; */
    /* height: 100%; */
    max-width: 100%;
    /* max-height: 400px; */
}

.threads {
    color: #3594cc;
}


.subheader {
    font-size: 16px;
    color: #8db4d6;
}

.post_content a {
    text-decoration: none;
    color: #0088ff;
    margin-left: 2px;
    margin-right: 2px;
}

.register label {
    min-width: 100px;
    display: inline-block;
    margin: 10px;
}

img.headerbtn {
    width: 36px;
    height: 36px;
    /* margin-left: 12px; */
    border-style: dashed;
    border-width: 1px;
    border-color: #80808054;
}

.rightalign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightalign >* {align-items: center;display: flex;margin-left: 15px;}

#header>*>* {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* text-decoration: none; */
}

#header * {
    text-decoration: none;
}

.post_content {
    margin-bottom: .5em;
    font-size: 90%;
}

.leftalign > * {
    display: inline-flex;
}

.rightalign * {
}

.editor {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    align-items: flex-start;
}

.editor_left {
    display: flex;
    flex-flow: column;
    margin-right: .7em;
    /* flex-grow: 1; */
    margin-bottom: .7em;
    /* min-width: 400px; */
    /* max-width: 100%; */
    justify-content: stretch;
}

#editor_text {
    /* width: 500px; */
    min-height: 10em;
    max-width: 60em;
    width: 50em;
    display: flex;
    /* align-self: flex-end; */
    padding: 7px;
    resize: both;
    flex-grow: 0;
    font-size: 80%;
    line-height: 150%;
}

.editor_button_row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10px;
}

.editor_button_row * {
    margin-left: 5px;
    padding: 4px 15px;
    font-size: 90%;
}

#editor_btnsubmit {
    background-color: #c6fbc6;
}

.editor_right {
    display: flex;
    /* width: 100%; */
    border-style: dashed;
    border-width: 1px;
    border-color: #dedede;
    padding: 10px;
    /* flex-grow: 1; */
}

#editor_preview {
    /* margin-left: 15px; */
    /* display: inline-block; */
    max-width: 600px;
    /* flex-grow: 1; */
}

#editor_text:focus {
    outline: none;
}

.invitations > * {
    margin: 0 0 6px 0;
}

.invitation {
    margin: 3px 0;
}

.invitation.inactive {
    text-decoration: line-through;
    color: #bfbfbf;
}

.post_content :not(pre)> code {
    margin: 0 3px;
    background-color: #e9f3f7;
    padding: 2px 5px;
    border-radius: 3px;
}

.invitations {
    margin: 1em 0 0 0;
}

a.title {}

a.threadlist_title {
    color: #03396f;
    margin-left: 0;
    margin-right: 0;
    display: block;
    /* margin-bottom: 3px; */
    font-size: 100%;
    /* font-weight: bold; */
    /* letter-spacing: 0.05em; */
}

.post_content pre {
    background-color: #f1f1f1;
    padding: 1em;
    display: inline-block;
    margin: 0 0 .4em 0;
    /* display: block; */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 90%;
}


.chosen {
    background-color: #fffff6;
}

.meta .date {
    color: #bfbfbf;
}

.last_commented_date.date {
    color: beige;
}

.last_commented_date {
    color: #b1b1b1;
}

.left > a {
    display: flex;
}


.lr {
    padding: 0 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* background-color: white; */
}

div#navigator {
    display: flex;
    flex-flow: column;
    /* flex-direction: column; */
    /* max-width: 200px; */
    /* flex-grow: 1; */
    border-style: none none none solid;
    border-color: #e8e8e8;
    margin-left: .5em;
    padding-left: .9em;
    /* width: 1900px; */
}

.categories .category_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 5px 0;
    /* max-width: 70px; */
    padding: 5px 3px;
}

.categories {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-flow: column;
}

.box {
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin-left: 10px; */
    display: flex;
    flex-flow: column;
    align-items: center;
}
.boxtitle {
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}


.c2 {background-color: #f16666;}

.c4 {
    background-color: #4da0a0;
}

.c5, .c12 {
    background-color: #379447;
}

.c1 {background-color: #97c12f;}

.c6 {
    background-color: #30abc7;
}

.c9 {
    background-color: #ad7fca;
}

.c16, .c13, .c14 {background-color: #2274bd;}

.c7 {
    background-color: #ef8aa1;
}

.c17 {
    background-color: #b5b529;
}

.c11 {
    background-color: #f18bc8;
}

.c3, .c15 {
    background-color: #7698c1;
}

.c13 {
}

.c10 {
    background-color: #d8994a;
}


code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,ubuntu, source code pro, monospace;
}

code .k, code .kd {
    color: #0e57fb;
}

code .nf {
    color: #773b24;
}

.threadlistitem#editor {
    border-style: none;
}

#editor_title {
    padding: 7px;
    font-size: 80%;
    display: flex;
    margin-bottom: 10px;
}

.header > * {
    margin-right: 10px;
    display: flex;
    text-decoration: none;
}

.header > .makepost {
    font-size: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: .3em;
    padding: 2px 7px;
    color: #ffffff;
    background-color: #6ebf7f;
    border-color: #349640;
    display: flex;
}

.meta .category_name {
    opacity: 0.5;
    width: 60px;
}

.copyright * {
    text-decoration: none;
    color: gray;
    vertical-align: middle;
}

.deleted {
    opacity: 0.3;
}

.outerbox {
    display: block;
    margin: 10px auto 20px auto;
    max-width: 960px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000059;
}


.post_content br {
    /* height: 3px; */
    display: block;
    content:"";
    margin-top: .5em;
    /* line-height:190%; */
    /* vertical-align:top; */
}

.meta .adminstuff {
    color: #ff5252;
    /* background: #ffe2e2; */
    /* padding: 0.2em; */
    opacity: .2;
}

.meta .user_name:first-child {
    justify-content: flex-start;
}

#editor_text.has_title {
    height: 400px;
}

.edited_by {
    font-size: 70%;
    font-style: italic;
    margin: 0 0 .5em 0;
    opacity: .3;
    text-decoration: none;
}

.edited_by * {
    color: black;
    text-decoration: none;
}

.warning {
    background-color: #ffdede;
    padding: 1em 1em;
    border-style: solid;
    border-color: #ffc4c4;
    border-radius: .5em;
    border-width: 0.2em;
}

form.register {
    margin-bottom: 1em;
}

h1 {
    margin: 0.3em 0 .5em 0;
}

body {
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

.meta .adminstuff:hover {
    opacity: 1;
}

.adminstuff.edit {
    color: #009800;
}

.post_content hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 1em 0;
    border-color: #e4e4e4;
}

.rightalign a {
    /* color: #005bac; */
}


.vote_section>* {
    display: inline-flex;
    margin-right: .5em;
    opacity: 0.2;
}

.vote_section {
    display: flex;
    /* margin-top: 0.4em; */
}

.upvote {
    color: #038603;
    padding: 0 .2em;
    /* cursor: pointer; */
}

.downvote {
    color: #dc4b4b;
}

.vote_section .has_vote {
    opacity: 0.7;
}

.vote_section>.enabled:hover {
    opacity: 1.0;
}

.vote_section .enabled:hover {
    opacity: initial;
}

.threadlistitem:only-child:not(#editor) {
    /* border-width: 1px 0; */
}

.self_voted {background-color: #00800024;}

.self_voted {}

.leftmost .vote_section {display: flex;flex-direction: column;}

.leftmost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2em;
}

.leftmost .upvote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.votenumber.triangle {
    font-size: .5em;
    opacity: .6;
}

.votenumber {}


a {
    text-decoration: none;
    color: #005bac;
}

.editor_button_row a {
    color: #7a9bc3;
}

span.votenumber {}

.meta .upvote {
    cursor: pointer;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(189 140 0 / 5%); */ /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */ /* Add a pointer on hover */
    pointer-events: none;
}

#overlay text {}

#overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: .5em;
    /* font-size: 1em; */
    background: white;
    padding: 1em;
    color: #000000;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 11px #00000061;
    -ms-transform: translate(-50%,-50%);
}

#editor_text::placeholder {
    color: gray;
}

.gotmail {
    color: red;
}

.gotmail {
    color: red;
}

#footer .lr>*:first-child {
    margin-right: 2em;
}

a.adminstuff {}

.meta .viewcode {
    color: blue;
}

.adminstuff.viewcode {
    color: #185fca;
}


.c404 {
    margin: 100px auto;
    text-align: center;
}

.c404>img {
    height: 200px;
}

.c404 >div {
    text-align: center;
}

.firstline {
    font-size: 130%;
    margin-bottom: 1em;
}

.secondline {
    margin-bottom: 1em;
}

.adminstuff.at_reply {
    color: #5a4b00;
}

.meta.upper {
    margin-bottom: 0.3em;
}

.threadlistitem.thread_header {
    flex-direction: row-reverse;
}

.thread_header_info>div:not(:first-child) {
    /* text-align: left; */
    margin: 0.5em 0 0;
}

.navigator_userpanel {
    flex-flow: column;
    display: flex;
    /* align-items: flex-end; */
    margin-top: .7em;
    min-width: 10em;
    /* margin-left: 1em; */
}

.thread_header_info .brief {
    color: #c5c5c5;
    font-size: 80%;
}

.thread_header_info .user_name {
    color: #545454;
    margin-left: .6em;
}

.threadlistitem.thread_header {
}

.thread_header .left {
    display: none;
}


* {
    border-width: 1px;
}

.avatar_line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_content p:first-child {
    margin-top: 0em;
}

.post_content blockquote:first-child {
}

.info.warning {
    background-color: #d4f3ff;
    border-color: #bae4f5;
}

h1:not(:first-child) {
    margin-top: .9em;
}

button {
    border-radius: 2px;
}