{%extends 'base.html.jinja'%}
{%block content%}
<div class="c404">
  <img src="/images/exc.png?v={{images_resources_hash}}" alt="">

  {%if not e500%}
  <div class="firstline">
    {%if to_show%}
    {{to_show}}
    {%else%}
    您要找的页面不存在
    {%endif%}
  </div>
  <div class="secondline">
    {%if reason%}
    {{convert_markdown(reason)|safe}}
    {%else%}
    点击
    <a href="/">这里</a>
    回到首页，点击
    <a href="javascript:history.go(-1)">这里</a>
    返回上一页
    {%endif%}
  </div>

  {%else%}
  <div class="firstline">
    服务器内部错误
  </div>
  <div class="secondline">
    请等待后台工程师处理
  </div>
  <div class="secondline">
    点击
    <a href="/">这里</a>
    回到首页，点击
    <a href="javascript:history.go(-1)">这里</a>
    返回上一页
  </div>
  <div class="secondline post_content">
    <pre><code>{{err.original_exception}}</code></pre>
  </div>
  {%endif%}
</div>
{%endblock%}
