{# base template #}

{# include all macros used by project #}
{%import 'macros.html.jinja' as macros with context%}

<!DOCTYPE html>
<html lang="zh" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css?v={{resource_files_hash}}">
  <link rel="stylesheet" href="/css/styles.css?v={{resource_files_hash}}">
  <link rel="stylesheet" href="/css/labnol_youtube.css?v={{resource_files_hash}}">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <title>{{page_title}} - {{site_name}}</title>
  {%block meta%}{%endblock%}
</head>
<body>
  <div class="outerbox">
    <div id="header" class="">
      {# left 2 right: logo, [links], search, [uavatar, uname, login/logout] #}
      <a class="leftalign" href="/">
        <img id="site_logo" src="/images/logo.png?v={{images_resources_hash}}" alt=""><div id="site_name">{{site_name_header}}</div>
      </a>

      <div class="rightalign">

        {%if g.logged_in%}

        {%set nu = g.logged_in.num_notif %}
        <a href="/n" class="{{'gotmail' if nu else ''}}">提醒{{' ('~nu~')' if nu else ''}}</a>

        {%set nu = g.logged_in.num_unread %}
        <a href="/m" class="{{'gotmail' if nu else ''}}">私信{{' ('~nu~')' if nu else ''}}</a>

        <a href="javascript:void(0)" onclick="logout();">登出</a>

        <a href="/u/{{g.logged_in.uid}}">
          <div class="headerbtn">
            {{g.logged_in.name}}
          </div>
        </a>
        <a href="/u/{{g.logged_in.uid}}">
          <img class="headerbtn" src="/avatar/{{g.logged_in.uid}}" alt="">
        </a>

        {%else%}

        <a class="headerbtn" href="/register">注册</a>
        <a class="headerbtn" href="/login">登录</a>

        {%endif%}

      </div>

    </div>
    <div class="lr">
      <div id="content" class="">
        {{macros.header()}}
        {%block content%}{%endblock%}
      </div>
      {%block navigator%}
      {%endblock%}
    </div>


    <div id="footer" class="">
      <div class="lr">
        <div class="">
          <div class="copyright">
            ©1989 Tsinghua University
          </div>

          <div class="copyright">
            ©2047 Beijing Wudaokou Computing Technology LLC
          </div>

          <div class="copyright">
            版权所有 北京市五道口计算机技术有限公司 地址：北京市海淀区中关村东路1号院3号
          </div>

          {%if 0%}
          <div class="copyright">
            <img src="/images/ga.png?v={{images_resources_hash}}">
            <a href="/jgawb/全国互联网安全管理服务平台.html">京公网安备 11040102700068号</a>
            <a href="/jicpb/ICP_IP地址_域名信息备案管理系统.html">京ICP备 04000001号</a>
          </div>

          {%endif%}
          <div class="copyright">
            <a rel='noreferrer' href="https://github.com/thphd/2047">GitHub</a>
            <a rel='noreferrer' href="http://line-count.herokuapp.com/thphd/2047">line_count</a>
            <a href="https://2047.name/qr/https://2047.name{{request.full_path[:-1] if request.full_path[-1]=='?' else request.full_path}}">二维码分享此页</a>
          </div>

          <div class="copyright">
            <a href="/">回到首页</a>
          </div>
        </div>

        <div class="">
          <div class="friendly_link_title copyright">
            友情链接
          </div>
          <div rel='noreferrer' class="copyright">
            {%for item in friendly_links%}
              <a class='copyright' href="{{item.url}}" title={{item.notes}}>{{item.text}}</a>
            {%endfor%}
          </div>

          <div class="copyright">
          </div>

          <div class="copyright">
            <span>访问者IP {{g.display_ip_address}}</span>
          </div>
          <div class="copyright">
          </div>

          <div class="copyright opaque5">
            <span>{{g.get_elapsed()}}ms</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="overlay">
    <div id="overlay_text">
      test
    </div>
  </div>

  <div id='viewed_target' style='display:none;'>{{viewed_target}}</div>
  <div id='browser_check' style='display:none;'>{{'1' if g.using_browser else ''}}</div>
  <script src="/js/md5.js?v={{resource_files_hash}}" charset="utf-8"></script>
  <script src="/js/util.js?v={{resource_files_hash}}" charset="utf-8"></script>
</body>
</html>
