{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist padlr">

  <div class="post_content">

    <p>本考试开卷，请考生于20分钟内完成，未按时提交答题卡的作零分处理。</p>

    <meta id='examid' name="" content="{{exam._key}}">
    <hr>
    <ol>
      {%for q in exam.questions %}
      {% set qi = loop.index0 %}
      <li class='question_list_item'>
        <div class="question" {%if not exam._key %}id="{{q._key}}"{%endif%}>
          <div class="description">
            {{convert_markdown(q.question)|safe}}
          </div>
          <div class="choices">
            {%for choice in q.choices%}
            {%set ci = loop.index0%}
            <div class="choice">
              <input type="radio" name="{{qi}}" value="{{ci}}">
              {# <span>{{choice|safe}}</span> #}
              <div class="choice_text">
                {{convert_markdown(choice)|safe}}
              </div>
            </div>
            {%endfor%}
          </div>
          <div class="qcat">
            {%set user = get_user_by_id_cached(q.uid)%}
            （{{q.category}}）by {{macros.username(user,class='opaque5')}}
          </div>
        </div>

      </li>

      {%endfor%}
    </ol>

    <button type="button" name="" id='btn_submit_exam'>提交答题卡</button>

  </div>
</div>
{%endblock%}
