{%extends 'base.html.jinja'%}

{%block content%}

{%import 'macros.html.jinja' as macros with context%}

<div class="threadlist">
  <div class="padlr">
    欲向此处添加更多链接，请访问 <a href="/entities">Entities</a>
  </div>

  <hr>

  <div class="links padlr">
    {% for category in links%}
    <div class="link_category header_title" id="{{category}}">
      {{category}}
    </div>

      {% for link in links[category] %}
        {{macros.linkbox(link)}}
      {% endfor %}

    {% endfor %}

  </div>
</div>
{%endblock%}
