{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist">

  <form class="register">

    <label>用户名</label>
    <input type="text" id="username" value="{{username}}">
    <br>
    <label>密码</label>
    <input type="password" id="password" value="">
    <br>
    <label></label>
    <button type="button" id="login">登录</button>
    <a style="margin-left:1em;" href="/t/7388">忘记密码</a>
    <a style="margin-left:2em;" href="/register">注册新账号</a>
  </form>
  <br>

  <div class="post_content">
    <h3>用PGP签名登陆</h3>
    <textarea id='gpg_commands' rows='1' cols='60'></textarea>
    <!-- <pre><code id='gpg_commands'></code></pre> -->
    <br>
    <a href="#" onclick="copy_clipboard()">将命令拷贝到剪贴板 (copy to clipboard)</a>
    <br>
    <textarea id="login_pgp_message" rows="10" cols="40" placeholder="请先在上面输入用户名，然后用你的私钥对[2047login+用户名+ISO8601格式的当前时间]进行签名（参见上面的命令行），然后把签名后的消息黏贴到这个文本框中，再点“登录”"></textarea>
    <br>
    <button type="button" id="pgp_login">用PGP签名登录</button>
    <br>

    <script type="text/javascript">
      function copy_clipboard(){
        var text = geid('gpg_commands')
        text.select()
        text.setSelectionRange(0,99999)

        document.execCommand("copy")
        display_notice('已拷贝到剪贴板')

        setTimeout(()=>{display_notice('')}, 5000)
      }
    </script>

  </div>

  <div class="post_content warning info">
    {{public_key_info|safe}}
  </div>
  <div class="post_content warning info">
    {{cant_login_info|safe}}
  </div>
</div>

{%endblock%}
