<!-- all template macros of this project -->

{# one line of post #}
{%macro post(p, metas)%}

{% set _idt = 'id="' ~ p.tid ~ '"' if 'threadlist' in metas %}
{% set _ide = 'id="editor"' if 'editor' in metas %}
{% set _idp = 'id="' ~ p._key ~ '"' if 'postlist' in metas %}

<div class="threadlistitem" {{_ide or _idt or _idp}}>
  <div class="left">
    {# editor avatar should be current logged in user's #}
    {% set uid = g.logged_in.uid if 'editor' in metas else p.uid %}

    <a href="/u/{{uid}}"><img class="avatar" src="/avatar/{{uid}}" alt=""></a>
  </div>

  <div class="right">
    <div class="details">
      <div class="{{'' if 'editor' in metas else 'post_content'}}">
        {%if caller%}
          {{caller()}}
        {%else%}
          {% set text = p.content or p.title or p.text or p.profile_string or p.name %}

          {# content is title to a thread #}
          {%if 'threadlist' in metas %}
            <a href="/t/{{p.tid}}" class="threadlist_title">
              {{'[已标记为删除] ' if p.delete else ''}}{{text}}
            </a>

          {# content is name of an user #}
          {%elif 'userlist' in metas %}
            <a href='/u/{{p.uid}}' class='threadlist_title'>
              {{text}}
            </a>

          {# content is an editor #}
          {%elif 'editor' in metas %}
            {{editor('thread/'~p.tid)}}

          {%else%}
            {{convert_markdown(text)|safe}}
          {%endif%}

          {%if p.brief%}
          <blockquote>{{convert_markdown(p.brief)|safe}}</blockquote>
          {%endif%}
        {%endif%}

      </div>

      <div class="meta">
        {% set metas = metas or []%}
        {%for m in metas%}

          {%if m=='publisher'%}
            {# publisher #}
            <a class="user_name" href="/u/{{p.uid}}">{{p.user.name}}</a>

          {%elif m=='publish_date'%}
            {# publish date #}
            <span>{{format_time_dateifnottoday(p.t_c)}}</span>

          {%elif m=='publish_date_linkto'%}
            {# publish date with a link to original post#}
            <a class="date" href="/p/{{p._key}}">
              {{format_time_dateifnottoday(p.t_c)}}
            </a>

          {%elif m=='link_to'%}
            {%if not t%}
            {#link to original article#}
            <a href="/p/{{p._key}}">/t/{{p.tid}}</a>
            {%endif%}

          {%elif m=='category'%}
            {# category name #}
            {{category_bubble(p)}}

          {%elif m=='last_commenter'%}
            {% if p.lastuser %}
              {# number of comments #}
              <span class="response">{{p.count}} 个回复</span>

              {# last commented date #}
              <a class="last_commented_date" href="/p/{{p.last._key}}">
                {{format_time_dateifnottoday(p.last.t_c)}}
              </a>

              {# last commenter #}
              <a class="user_name" href="/u/{{p.lastuser.uid}}">
                {{p.lastuser.name}}
              </a>

            {%endif%}

          {%elif m=='userpage_meta'%}

            {# register date #}
            <span>{{format_time_dateifnottoday(p.t_c)}}</span>
            <span>uid: {{p.uid}}</span>

            {%if p.nthreads%}
            <a href='/u/{{p.uid}}/t' class="threads">{{p.nthreads}} 个帖子</a>
            {%endif%}

            {%if p.nposts%}
            <a href='/u/{{p.uid}}/p' class="response">{{p.nposts}} 个回复</a>
            {%endif%}

          {%elif m=='delete_thread'%}
            {%if g.logged_in and g.logged_in.admin%}
              <a href="javascript:mark_delete('{{'thread/'~p.tid}}')">标记为删除</a>
            {%endif%}

          {%endif%}

        {%endfor%}
      </div>
    </div>
  </div>
</div>

{%endmacro%}

{# one line of post, used in postlist #}
{%macro post_postlist(p)%}
  {{post(p, ['publish_date_linkto','publisher','link_to','postlist'])}}
{%endmacro%}

{# one line of post, used in postlist's thread header #}
{%macro post_postlist_header(p)%}
  {{post(p, ['publish_date','publisher'])}}
{%endmacro%}

{# one line of thread, used in threadlist #}
{%macro post_threadlist(p)%}
  {{post(p, ['category','publish_date','publisher','last_commenter',
  'threadlist','delete_thread'])}}
{%endmacro%}

{# one line of user, used in userpage #}
{%macro post_userpage(p)%}
  {{post(p, [])}}
{%endmacro%}

{# one line of user, used in userlist #}
{%macro post_userlist(p)%}
  {{post(p, ['userpage_meta','userlist'])}}
{%endmacro%}

{# one line of editor, used in postlist #}
{%macro post_postlist_editor(p)%}
  {{post(p, ['editor'])}}
{%endmacro%}

{%macro category_bubble(c)%}
  {# category name #}
  <a class="category_name c{{c.cid}}" href="/c/{{c.cid}}">
    {{c.cname if c.cname else c.name}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro link_bubble(linkobj)%}
  {# category name #}
  <a class="category_name" href="{{linkobj.url}}">
    {{linkobj.text}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro editor(target, content=None, title=None, has_title=False)%}
  <meta id="editor_target" _target="{{target}}">
  <div class="editor" id="editor_inline">
    <div class="editor_left">
      {%if has_title%}
        <input placeholder="标题" type='text' id="editor_title">{{title if title}}</textarea>
      {%endif%}
      <textarea placeholder="支持markdown语法，拖动右下角缩放" id="editor_text">{{content if content}}</textarea>
      <div class="editor_button_row">
        <button type="button" id="editor_btnpreview">预览</button>
        <button type="button" id="editor_btnsubmit">提交</button>
      </div>
    </div>
    <div class="editor_right" id="editor_right">
      <div class="post_content" id="editor_preview">

      </div>
    </div>
  </div>
{%endmacro%}

{# titled header #}
{%macro header()%}
  {%if page_title%}
    <div class="header">
      <span onclick="window.location.href='{{request.full_path if ('editor' in request.full_path) else request.path}}'">{{page_title}}</span>

      {{category_bubble(t.category) if (t and t.category) else ''}}

      {%if g.logged_in and category%}
        <a class='makepost' href="/editor?target=category/{{category.cid}}">发帖</a>
      {%endif%}
    </div>
  {%endif%}

  {%if page_subheader%}
    <div class="subheader post_content">
      {{convert_markdown(page_subheader)|safe}}
    </div>
  {%endif%}

{%endmacro%}

{# pagination #}
{%macro paginate(pagination)%}
<div class="pagination">

  {%for group in pagination.button_groups%}
  <div class="group">
    {%for item in group%}{# item -> [label, link, selected] #}

      {%if item[1]%}
      <a href="{{item[1]}}">
        <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
      </a>
      {%else%}
      <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
      {%endif%}

    {%endfor%}
  </div>
  {%endfor%}
</div>
{%endmacro%}
