<!-- all template macros of this project -->

{# one line of post #}
{%macro post(p, metas)%}

{% set _idt = 'id="' ~ p.tid ~ '"' if 'threadlist' in metas %}
{% set _ide = 'id="editor"' if 'editor' in metas %}
{% set _idp = 'id="' ~ p._key ~ '"' if 'postlist' in metas %}

<div class="threadlistitem{{ ' deleted' if p.delete and t else ''}} {{'thread_header' if 'thread_header' in metas else ''}} {{'unread' if p.unread else ''}}" {{_ide or _idt or _idp}}>

    {%if 'thread_votes' in metas%}
    <div class="leftmost">

      {%set targ_type = 'thread' if 'thread' in metas else 'post'%}
      {%set targ_id = p.tid if 'thread' in metas else p._key%}
      {%set num_votes = p.votes or 0 %}

      <div class="vote_section enabled">
        <div class="upvote enabled {{'has_vote' if num_votes}}">
          <span class='votenumber triangle'>▲</span>
          <span class="votenumber">{{ num_votes or '' }}</span>
        </div>
      </div>
    </div>
    {%endif%}

  <div class="left">
    {# editor avatar should be current logged in user's #}
    {% set uid = g.logged_in.uid if 'editor' in metas else p.uid %}
    {% set uid = uid if not (('conversation' in metas) and p.last) else (
      p.last.to_uid if p.last.to_uid!=g.logged_in.uid else p.last.uid
    ) %}
    {% set uid = uid if 'notification' not in metas else (p.from_uid or 5132) %}

    <a href="/u/{{uid}}"><img class="avatar" src="/avatar/{{uid}}" alt=""></a>

    {%if 'thread_header' in metas and 0%}
    {# publisher #}
    <div class="thread_header_info">
      <div class="">
        <a class="user_name" href="/u/{{p.uid}}">{{p.user.name}}</a>
      </div>

      <div class="">
        <span class='brief'>{{p.user.brief}}</span>
      </div>
    </div>
    {%endif%}

  </div>

  <div class="right">
    <div class="details">

      {%if 'upper' in metas%}
        <div class="meta upper">
          {%if 'publisher_upper' in metas%}
          {# publisher #}
          <a class="user_name" href="/u/{{p.uid}}">{{p.user.name}}</a>
          {%endif%}

          {%if 'brief_upper' in metas%}
          <span class='brief'>{{p.user.brief and p.user.brief[:80]}}</span>
          {%endif%}

        </div>
      {%endif%}

      <div class="{{'' if 'editor' in metas else 'post_content'}}">
        {%if caller%}
          {{caller()}}
        {%else%}
          {% set text = p.content or p.title or p.text or p.profile_string or p.name or (p.last and p.last.content) or '' %}

          {# content is title to a thread #}
          {%if 'threadlist' in metas %}
            <a href="/t/{{p.tid}}" class="threadlist_title">
              {{'[已标记为删除] ' if p.delete else ''}}{{text}}
            </a>
            {%if 'link_after_title'%}
              {%if p.youtube%}
                <a class='threadlist_title_youtube' rel='noreferrer' href="https://www.youtube.com/watch?v={{p.youtube}}">
                  <img src="/images/youtube_small.png" alt="">
                </a>
              {%endif%}
            {%endif%}

          {# content is name of an user #}
          {%elif 'userlist' in metas %}
            <a href='/u/{{p.uid}}' class='userlist_name'>
              {{text}}
            </a>

          {# content is an editor #}
          {%elif 'editor' in metas %}
            {{editor('thread/'~p.tid)}}

          {# content is an targeted editor #}
          {%elif 'targeted_editor' in metas %}
            {{editor(p.target)}}

          {# content is link to conversation #}
          {%elif 'conversation' in metas %}
              <a href="/m/{{p.convid}}" class="threadlist_title">
                {{text}}
              </a>

          {%else%}
            {{(convert_markdown(text)|safe) if not p.delete else ('<s>内容被删除</s>'|safe)}}

          {%endif%}

          {%if p.brief%}
          <span class="userlist_brief">{{p.brief[:80]}}</span>
          {%endif%}
        {%endif%}

      </div>

      {# if object has been edited #}
      {%if 'display_edit_status' in metas and p.editor and p.t_e %}
        <div class='edited_by'>
          <span>[ 由</span>
          <a href="/u/{{p.editor}}">{{'本人' if p.editor==p.uid else '其他人'}}</a>
          <span>于</span>
          <span>{{format_time_dateonly(p.t_e)}}</span>
          <span>编辑 ]</span>
        </div>
      {%endif%}

      <div class="meta">
        {% set metas = metas or []%}
        {%for m in metas%}

          {%if m=='publisher'%}
            {# publisher #}
            <a class="user_name" href="/u/{{p.uid}}">{{p.user.name}}</a>

          {%elif m=='publish_date_thread'%}
            {# publish date #}
            <a class="last_commented_date" href="/t/{{p.tid}}">
              {{format_time_dateifnottoday(p.t_c)}}
            </a>

          {%elif m=='publish_date_linkto'%}
            {# publish date with a link to original post#}
            <a class="date" href="/p/{{p._key}}">
              {{format_time_dateifnottoday(p.t_c)}}
            </a>

          {%elif m=='vc'%}
            {%if p.vc%}
            {# view count #}
            <span>{{p.vc}} 次浏览</span>
            {%endif%}
          {%elif m=='conversation_with'%}
            {%set sent = 1 if p.last.uid==g.logged_in.uid else 0 %}
            <span>{{"发给" if sent else "来自"}}</span>
            <a class="user_name" href="/u/{{p.last.to_uid if sent else p.last.uid}}">{{p.last.to_user.name if sent else p.last.user.name}}</a>

          {%elif m=='conversation_date'%}
            <span>{{format_time_dateifnottoday(p.last.t_c)}}</span>

          {%elif m=='notification'%}
            <span>{{format_time_datetime(p.t_c)}}</span>

          {%elif m=='view_post_code'%}
            <a class='adminstuff viewcode' href="/p/{{p._key}}/code">源码</a>

          {%elif m=='view_thread_code'%}
            <a class='adminstuff viewcode' href="/t/{{p.tid}}/code">源码</a>

          {%elif m=='at_reply' and t and g.logged_in%}
            <a class='adminstuff at_reply' href="javascript:at_reply('{{p._key}}')">回复</a>

          {%elif m=='link_to'%}
            {%if not t%}
            {#link to original article#}
            <a href="/p/{{p._key}}">/t/{{p.tid}}</a>
            {%endif%}

          {%elif m=='category'%}
            {# category name #}
            {{category_bubble(p)}}

          {%elif m=='last_commenter'%}
            {% if p.lastuser %}
              {# number of comments #}
              {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}
              <a class="response" href="{{url_to_last}}">{{p.count}} 个回复</span>

              {# last commenter #}
              <a class="user_name" href="{{url_to_last}}">
                {{p.lastuser.name}}
              </a>

              {# last commented date #}
              <a class="last_commented_date" href="{{url_to_last}}">
                {{format_time_dateifnottoday(p.last.t_c)}}
              </a>

            {%endif%}

          {%elif m=='userpage_meta'%}

            {# register date #}
            <span>{{format_time_dateifnottoday(p.t_c)}}</span>
            <span>uid: {{p.uid}}</span>

            {%if p.nthreads%}
            <a href='/u/{{p.uid}}/t' class="threads">{{p.nthreads}} 个帖子</a>
            {%endif%}

            {%if p.nposts%}
            <a href='/u/{{p.uid}}/p' class="response">{{p.nposts}} 个回复</a>
            {%endif%}

            {%if p.nliked%}
            <a href='/u/{{p.uid}}' class="nliked">点赞 {{p.nliked}} 次</a>
            {%endif%}

            {%if p.nlikes%}
            <a href='/u/{{p.uid}}' class="nlikes">被赞 {{p.nlikes}} 次</a>
            {%endif%}


          {# admin stuff #}
          {%elif m=='delete_thread'%}
            {%if can_do_to(g.logged_in, 'delete', p.uid)%}
              {%if not p.delete%}
              <a class='adminstuff delete' href="javascript:mark_delete('{{'thread/'~p.tid}}')">删除</a>
              {%else%}
              <a class='adminstuff undelete' href="javascript:mark_delete('{{'uthread/'~p.tid}}')">取消删除</a>
              {%endif%}
            {%endif%}

          {%elif m=='delete_post'%}
            {%if can_do_to(g.logged_in, 'delete', p.uid)%}
              {%if not p.delete%}
              <a class='adminstuff delete' href="javascript:mark_delete('{{'post/'~p._key}}')">删除</a>
              {%else%}
              <a class='adminstuff undelete' href="javascript:mark_delete('{{'upost/'~p._key}}')">取消删除</a>
              {%endif%}
            {%endif%}

          {%elif m=='edit_thread'%}
            {%if can_do_to(g.logged_in, 'edit', p.uid)%}
              <a class='adminstuff edit' href="/editor?target=edit_thread/{{p.tid}}">编辑</a>
            {%endif%}

          {%elif m=='edit_post'%}
            {%if can_do_to(g.logged_in, 'edit', p.uid)%}
              <a class='adminstuff edit' href="/editor?target=edit_post/{{p._key}}">编辑</a>
            {%endif%}

          {%elif m=='under_vote'%}

            {%set targ_type = 'thread' if 'thread' in metas else 'post'%}
            {%set targ_id = p.tid if 'thread' in metas else p._key%}
            {%set num_votes = p.votes or 0 %}

            {%set can = can_do_to(g.logged_in,'vote',p.uid)%}
            {%set self_voted = p.self_voted or False %}

            <div class="vote_section {{'enabled' if can}}">

              <div class="upvote {{'enabled' if can}} {{'has_vote' if num_votes}} {{'self_voted' if self_voted}}" target="{{targ_type~'/'~targ_id}}">
                ▲ <span class="votenumber">{{ num_votes or '' }}</span>
              </div>

              {%if can_do_to(g.logged_in, 'update_votecount',p.uid)%}
                <a href="javascript:update_votecount('{{targ_type}}/{{targ_id}}')">更新数据</a>
              {%endif%}

            </div>

          {%elif m=='message'%}
            <span>由</span>
            {# sender #}
            <a class="user_name" href="/u/{{p.uid}}">{{p.user.name}}</a>

            <span>发送给</span>
            {# receiver #}
            <a class="user_name" href="/u/{{p.to_uid}}">{{p.to_user.name}}</a>

            {# date #}
            <span>
              {{format_time_dateifnottoday(p.t_c)}}
            </span>

          {%endif%}

        {%endfor%}
      </div>
    </div>
  </div>

  {%if 'last_commenter' in metas and p.count %}
  {# small circle indicating num replies #}
  <div class="leftmost">
    {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}
    <a class="reply_count c{{p.cid}}" href="{{url_to_last}}">{{p.count}}</a>
  </div>
  {%endif%}

  {%if 'conversation' in metas and p.count %}
  {# small circle indicating num replies #}
  <div class="leftmost">
    {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}
    <a class="reply_count c{{p.cid}}" href="{{url_to_last}}">{{p.count}}</a>
  </div>
  {%endif%}

</div>

{%endmacro%}

{# one line of post, used in postlist #}
{%macro post_postlist(p)%}
  {{post(p, ['upper','publisher_upper','brief_upper','under_vote','publish_date_linkto','link_to','postlist','at_reply','delete_post','edit_post','display_edit_status','post','view_post_code'])}}
{%endmacro%}

{# one line of post, used in postlist's thread header #}
{%macro post_postlist_header(p)%}
  {{post(p, ['under_vote','publish_date_thread','vc','delete_thread','edit_thread','display_edit_status','thread','thread_header','view_thread_code'])}}
{%endmacro%}

{# one line of post, used in postlist's thread header, keep the style unchanged #}
{%macro post_postlist_header_kept(p)%}
  {{post(p, ['under_vote','publisher','publish_date_thread','delete_thread','edit_thread','display_edit_status','thread','view_thread_code'])}}
{%endmacro%}

{# one line of thread, used in threadlist #}
{%macro post_threadlist(p)%}
  {{post(p, ['category','publisher','publish_date_thread','last_commenter','vc',
  'threadlist','delete_thread','thread_votes','link_after_title'])}}
{%endmacro%}

{# one line of user, used in userpage #}
{%macro post_userpage(p)%}
  {{post(p, [])}}
{%endmacro%}

{# one line of user, used in userlist #}
{%macro post_userlist(p)%}
  {{post(p, ['userpage_meta','userlist'])}}
{%endmacro%}

{# one line of conv, used in convlist #}
{%macro post_conversation(p)%}
  {{post(p, ['conversation','conversation_with','conversation_date'])}}
{%endmacro%}

{# one line of message, used in messagelist #}
{%macro post_message(p)%}
  {{post(p, ['message'])}}
{%endmacro%}

{# one line of notification, used in notification_list #}
{%macro post_notification(p)%}
  {%call post(p,['notification'])%}

    {%if p.why == 'reply_thread'%}
      <a href="/u/{{p.from_uid}}">{{(p.from_user and p.from_user.name) or p.from_uid}}</a>
      <span>在你的</span>
      <a href="{{p.url}}">帖子 - {{p.url}}</a>
      <span>下发表了回复</span>

    {%elif 'at' in (p.why or '')%}
      <a href="/u/{{p.from_uid}}">{{(p.from_user and p.from_user.name) or p.from_uid}}</a>
      <span>在</span>
      <a href="{{p.url}}">{{'评论' if 'post'in p.why else '帖子'}} - {{p.url}}</a>
      <span>中 @ 了你</span>

    {%endif%}
  {%endcall%}
{%endmacro%}

{# one line of editor, used in postlist #}
{%macro post_postlist_editor(p)%}
  {{post(p, ['editor'])}}
{%endmacro%}

{# one line of targeted editor #}
{%macro post_targeted_editor(p)%}
  {{post(p, ['targeted_editor'])}}
{%endmacro%}

{%macro category_bubble(c)%}
  {# category name #}
  <a class="category_name c{{c.cid}}" href="/c/{{c.cid}}" title="{{c.brief}}">
    {{c.cname if c.cname else c.name}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro link_bubble(linkobj)%}
  {# category name #}
  <a class="category_name" href="{{linkobj.url}}" title="{{linkobj.notes}}">
    {{linkobj.text}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro editor(target, content=None, title=None, has_title=False)%}
  <meta id="editor_target" _target="{{target}}">
  <div class="editor" id="editor_inline">
    <div class="editor_left">
      {%if has_title%}
        <input placeholder="标题" type='text' id="editor_title" value="{{title if title}}">
      {%endif%}
      <textarea placeholder="支持markdown语法，拖动右下角缩放" id="editor_text" class="{{'has_title' if title else ''}}">{{content if content}}</textarea>
      <div class="editor_button_row">
        <button class="major" type="button" id="editor_btnpreview">预览</button>
        <button class='major' type="button" id="editor_btnsubmit">提交</button>
        <a href="/t/7140" rel='noreferrer'>Markdown语法参考</a>

        <button type="button" id="editor_quote" title='引用文字'>“</button>
        <button type="button" id="editor_code" title='插入程序代码'>code</button>
        <button type="button" id="editor_image" title='插入图片'>img</button>
        <button type="button" id="editor_link" title='简单链接'>{{'<>'}}</button>
        <button type="button" id="editor_link_label" title="文字链接">[ ]( )</button>
        <button type="button" style='font-weight:bold;' id="editor_strike" title='删除线'><s>S</s></button>
        <button type="button" style='font-weight:bold;font-style:italic;' id="editor_italic" title='斜体'>I</button>
        <button type="button" style='font-weight:bold;' id="editor_bold" title='加粗'>B</button>


      </div>
    </div>
    <div class="editor_right" id="editor_right">
      <div class="post_content" id="editor_preview">

      </div>
    </div>
  </div>
{%endmacro%}

{# titled header #}
{%macro header()%}
  {%if page_title%}
    <div class="header">
      <span onclick="window.location.href='{{request.full_path if ('editor' in request.full_path) else request.path}}'">{{page_title}}</span>

      {{category_bubble(t.category) if (t and t.category) else ''}}

      {%if g.logged_in and category%}
        <a class='makepost' href="/editor?target=category/{{category.cid}}">发新帖</a>
      {%endif%}

      {%if g.logged_in and categories and not category%}
        <a class='makepost' href="javascript:alert('请在右边分类列表中选择一个分类')">发新帖</a>
      {%endif%}

      {%if can_send_message%}
        <a class='makepost' href="javascript:send_new_message()">写私信</a>
      {%endif%}
    </div>
  {%endif%}

  {%if page_subheader%}
    <div class="subheader post_content">
      {{convert_markdown(page_subheader)|safe}}
    </div>
  {%endif%}

{%endmacro%}

{# pagination #}
{%macro paginate(pagination)%}
{%if pagination.button_groups%}
  <div class="pagination">

    {%for group in pagination.button_groups%}
    <div class="group">
      {%for item in group%}{# item -> [label, link, selected] #}

        {%if item[1]%}
        <a href="{{item[1]}}">
          <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
        </a>
        {%else%}
        <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
        {%endif%}

      {%endfor%}
    </div>
    {%endfor%}
  </div>
{%endif%}
{%endmacro%}
