{%extends 'threadlist.html.jinja'%}
{%block content%}

{%if t%}{# if there is a thread object #}
<div class="threadlist">
  {{macros.post_postlist_header(t)}}
</div>
{%endif%}

{%if t and t.count%}
<div class="padlr">
  <div class='nreplies'>
    {{
      spf(
        zhen('$0 个评论','$0 comment$es0')
        if t.mode!='question' else
        zhen('$0 个回答', '$0 answer$es0')

      )(t.count) }}
  </div>
</div>
{%endif%}

{{macros.paginate(pagination, class='padlr')}}

<div class="threadlist">

  {%for p in postlist%}
    {%if t%}
      {{macros.post_postlist_threadless(p, in_thread=t)}}

    {%else%}
      {{macros.post_postlist_threadless(p)}}

    {%endif%}
  {%endfor%}

</div>

{{macros.paginate(pagination, class='padlr')}}


{%if t and g.logged_in%}
  {{macros.post_postlist_editor(t)}}

  {%set tsc = trust_score_format(g.current_user)%}

  {%set dlp = dlp_ts(tsc)%}
  {%set dnp = daily_number_posts(g.selfuid)%}

  {%set dlt = dlt_ts(tsc)%}
  {%set dnt = daily_number_threads(g.selfuid)%}


  {%if (dlp-dnp)<5 or (dlt-dnt)<3%}
    <div class="padlr opaque5" style="font-size:10px;margin-bottom:0.5em">
      你的<a href="/trust_score_explained">社会信用分</a>是{{tsc}}，过去48小时发表了 {{dnp}}/{{dlp}} 个回复
      {%- if dnt%}，{{dnt}}/{{dlt}}个主题
      {%-endif%}
    </div>
  {%endif%}

{%elif t%}
  <div class="register_notice padlr threadlistitem">
    {{convert_markdown(zh(
      '''欲参与讨论，请 [登录](/login) 或 [注册](/register)。'''
      ))|safe}}
  </div>
{%endif%}

{%endblock%}

{%block navigator%}
<div id="navigator" class="">

  {%if t%}
    <div class="box navigator_userpanel">

      <div class="boxtitle">
        {{zhen("发起人",'Author')}}
      </div>
      {# publisher #}
      <div class="thread_header_info">
        <div class="avatar_line">
          {{macros.avatar(t.user, show_title=False)}}
          {{macros.username(t.user)}}

        </div>

        <div class="">
          <span class='brief'>{{t.user.brief}}</span>
        </div>
      </div>

    </div>

    {%set upt = get_user_picked_threads(t.uid)%}
    {%if upt%}
    <div class="box">
      <div class="boxtitle">
        {{zhen("同一作者",'Same Author')}}
      </div>
      <div class="navigator_quote">
        {{list_threads(upt)}}
      </div>
    </div>
    {%endif%}

    {%set pt = get_picked_threads()%}
    {%if pt%}
    <div class="box">
      <div class="boxtitle">
        {{zhen("随机推荐",'Random Threads')}}
      </div>
      <div class="navigator_quote">
        {{list_threads(pt)}}
      </div>
    </div>
    {%endif%}

  {%endif%}

</div>
{%endblock%}
