{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist padlr">
  <div class="post_content" style='color:red;font-size:70%;'>
    {{convert_markdown('''
- Answer to any question must not occur in the Google search result of that question.
- Do not ask questions where greater than 1/3 of our active user base could not answer within 3 minutes. See <t11561>
- Please do not ask questions that requires greater than senior high-school level of education.
- **Never set up traps that waste our target users\' time. Our goal is to deter fools, not making the lives of wise men more miserable.**
- The first choice will be used as the correct choice.
- Our users may use either Chrome, Firefox, Tor Browser or Safari from either desktop or mobile. Please make sure your questions work nicely for all of them. Please do not ask browser-specific or platform-dependent questions.
- Questions starting with `!!` will not be included in the exam. If you find one of your questions prepended with `!!`, it usually means that question was deemed unsuitable for use in the exam after being reviewed by the site owner.

''')|safe}}

  </div>

  <div class="post_content">
      <textarea name="name" rows="8" cols="30" id="add_question_text"style="max-width:100%;" placeholder="在这里输入题目文字，格式请参考下面已经写好的"></textarea>
    <a href="javascript:add_question()">添加新题目</a>
  </div>
  <hr>

  <div class="qboxes">

    {%for q in questions %}
      <div class="qbox">
        <div class="qtitle">
          # {{q._key}}
          {%if q.uid%}
            出题人：<a href="/u/{{q.uid}}">{{q.user.name}}</a>
          {%endif%}
        </div>

        <textarea name="name" rows="8" cols="30" id="{{q._key}}">{{q2str(q)}}</textarea>

        <div class="qtitle">
          {%if q.uid==g.logged_in.uid or g.logged_in.uid in [5108,5347,2764,3793,3393]%}
          <a href="javascript:modify_question('{{q._key}}')">应用修改</a>
          {%endif%}
          <span class='qmeta'>{{format_time_dateifnottoday(q.t_c)}}</span>
          <a href="/questions/preview#{{q._key}}">预览</a>
        </div>

      </div>
    {%endfor%}


  </div>

</div>
{%endblock%}
