{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist">
  <div class="padlr">
    （欲向语录上传更多内容，请访问 <a href="/entities">Entities</a>）
  </div>


  <div class="qboxes">
    {% for quote in get_quotes() %}
    <div class='quotebox'>
      {{macros.quote_section(quote)}}
      <div class='rightalign quoteuploader'>由 {{macros.username(quote.user)}} 上传于
        <a href='/entities?eid={{quote._key}}#{{quote._key}}'>
          {{format_time_dateifnottoday(quote.t_u)}}
        </a>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
{%endblock%}
