{%extends 'base.html.jinja'%}
{%block content%}

<div class="padded">

  <form class="register">
    <div class="formline">
      <label>{{zh('用户名(登录)')}}</label>
      <input type="text" id="username" value="" autocomplete="username">
    </div>

    <div class="formline">
      <label>{{zh('密码(登录)')}}</label>
      <input type="password" id="password" value="" autocomplete="new-password">
    </div>

    <div class="formline">
      <label>{{zh('再输入一次')}}</label>
      <input type="password" id="password2" value=""autocomplete="new-password">
    </div>

    <div class="formline">
      <label>{{zh('邀请码')}}</label>
      <input type="text" id="invitation" value="{{invitation}}">
    </div>

    <div class="formline">
      <button type="button" id="register">{{zh('注册')}}</button>
    </div>

  </form>
  <div class="formline">
    <span style="margin-right:0.5em">{{zh('语言 (LANG)')}} </span>
    {{macros.language_selector()}}
  </div>
  <br>


  <div class="post_content info warning">
    {{invitation_info|safe}}
  </div>
  <div class="post_content warning">
    {{register_warning|safe}}
  </div>
  <div class="post_content info warning">
    {{register_warning2|safe}}
  </div>

  <div class="post_content info warning">
    {{cant_login_info|safe}}
  </div>

  <div class="post_content warning">
    {{password_warning|safe}}
  </div>


  <div class="post_content info warning">
    {{public_key_info|safe}}
  </div>
</div>


{%endblock%}
