{%extends 'base.html.jinja'%}
{%block content%}

{%if not query%}
  <div class="search_section">
  <img src="/images/jiangle.jpg" alt="jiangle">
  </div>
{%else%}
<br>
{%endif%}

<div class="search_section padlr">
  <input type="text" value="{{query}}" id='search_term' placeholder="请输入关键字">
  <button type="button" id='btn_search'>搜索</button>
</div>

{%macro post_or_thread(r)%}
  {%if r.title%}
    {{macros.post_postlist_header_kept(r)}}
  {%else%}
    {{macros.post_postlist_threadless(r)}}
  {%endif%}
{%endmacro%}

<div class="threadlist">
  {%if has_result%}

    {%if mode=='yyets'%}
      <div class="threadlistitem search_terms padded">
        影视搜索结果 <a href="/search?q={{original_terms}}">↗站内搜索</a>
      </div>
      <div class="padlr">
      {%for item in yyets_results%}
        <div class="yyetsitem">
          <span class="category_name">{{item.category}}</span>
          <span class="category_name">{{item.area}}</span>
          <a href="/yyets/{{item.no}}">{{item.title|replace('&amp;','&')}}</a>
        </div>
      {%endfor%}
    </div>
    {%endif%}

    {%if mode!='yyets'%}
      {%if users%}
        <div class="search_terms padded">
          用户搜索结果
        </div>

        {%for u in users%}
          {{macros.post_userlist(u)}}
        {%endfor%}
      {%endif%}

      <div class="search_terms padded" >
        关键字搜索结果 (
        {%for term in terms%}
          {{term}}
        {%endfor%}
        )
        <a href="/search_yyets?q={{original_terms}}">↗影视搜索(站内)</a>

        <a target="_blank" href="https://google.com/search?q=site:2047.name+{{original_terms}}">↗换成谷歌搜索</a>
      </div>

      <meta id='search_terms' data-id="{%for term in terms
        %}{{term}} {%
          endfor%}">

      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',()=>{
          var terms = geid('search_terms').dataset.id
          terms = terms.split(' ').filter(s=>s.length)

          var rescape = function(string) {
            return string.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')
          };

          var rexp = new RegExp('(' + terms.map(rescape).join('|') + ')', 'gi')
          print(rexp)

          function replace_e(e){
            var cn = Array.from(e.childNodes)
            for (var i = cn.length-1; i>=0; i--){
              var current = cn[i]
              if (current.nodeName === '#text'){

                var s = current.nodeValue
                var replaced = s.replace(rexp, '<span class="marked">$1</span>')
                if (replaced!=s){
                  var newnode = document.createElement('div')
                  s = replaced
                  newnode.innerHTML = s

                  var cnn = Array.from(newnode.childNodes)
                  for(var j=0; j<cnn.length;j++){
                    current.parentNode.insertBefore(cnn[j], current)
                  }
                  current.parentNode.removeChild(current)
                }
              }else{
                replace_e(current)
              }
            }
          }

          foreach(gebcn(document)('post_content'))(replace_e)
          foreach(gebcn(document)('post_thread_title'))(replace_e)

        })
      </script>

      {%for r in results%}
        {{post_or_thread(r)}}
      {%endfor%}
    {%endif%}

  {%endif%}

</div>
{%endblock%}
