{%macro switchy_tabs(tabs=[], index=0)%}
{%set id = get_random_hex_string(6)%}
{%set tablen = tabs|length %}

  <div class="tablinks">
    {%for tab in tabs%}
      <a class="tablink_{{id}} {{'current' if loop.index0==index else ''}}"
      href="javascript:void(0)"
      >{{tab[0]}}</a>
    {%endfor%}
  </div>

  <div class="undertab">

  {%for tab in tabs%}
    <div class="undertab_{{id}}" style="{{'' if loop.index0==index else 'display:none;'}}">
      {{tab[1]}}
    </div>
  {%endfor%}
  </div>

  <script type="text/javascript">
window.addEventListener('load', (event)=>{
var tabs=gebcn(document)('undertab_{{id}}')
var tablinks=gebcn(document)('tablink_{{id}}')
// print(tabs, tablinks)

function k(i){
  var tab = tabs[i];
  var tablink = tablinks[i];
  tablink.onclick = ()=>{
    foreach(tabs)(e=>{e.style.display='none'})
    foreach(tablinks)(e=>{e.classList.remove('current')})
    tab.style.display=''
    tablink.classList.add('current')
  }
  tablink.onmouseenter=tablink.onclick
}
for(var i=0;i<tabs.length;i++){k(i)}
})
  </script>
{%endmacro%}



{%macro list_users(wb)%}
  <div class="weekly_best">
    {%for i in wb%}
    <div class="weekly_best_item">
      <div class='weekly_best_votes'>{{i.n or ''}}</div>
      <div class='weekly_best_title'>
        {{macros.username(i.user)}}
      </div>
    </div>
    {%endfor%}
  </div>
{%endmacro%}


{%macro list_threads(wb) %}
<div class="weekly_best">
  {%for i in wb%}
    {%if 1%}
      <div class="weekly_best_item">
        <div class='weekly_best_votes'>{{i.amv or ''}}</div>
        <div class='weekly_best_title'>
          {%set url = ('/p/'~i.mvp) if (i.mv or 0) > (i.votes or 0) else ('/t/'~i.tid)%}
          <a href="{{url}}">{{i.title}}</a>
        </div>
      </div>
    {%endif%}
  {%endfor%}
</div>
{%endmacro%}

{#-------------------------------------------------------------#}

{%extends 'base.html.jinja'%}
{%block content%}

<div class="hidden_mobile">
  {{macros.paginate(pagination, class='padlr')}}
</div>

<div class="threadlist">
  {%for t in threadlist%}
    {{macros.post_threadlist(t)}}
  {%endfor%}
</div>

{{macros.paginate(pagination, class='padlr')}}


{%endblock%}

{%block navigator%}
<div id="navigator" class="">

  {%if categories%}

  <div class="box">
    <div class="boxtitle">
      {{zhen('分类列表','Categories')}}
    </div>

    <div class="categories">
      {%for c in categories%}
      {{macros.category_bubble(c)}}
      {%endfor%}
    </div>
  </div>

  {%endif%}

  {%import 'base.html.jinja' as base with context%}

  <div class="box">
    <div class="boxtitle">
      {{zhen('语录','Quotes')}} <a class="after_linkbox" href="/quotes">{{zhen('查看更多','More')}}</a>
    </div>
    <div class="navigator_quote">
      {{base.quote_section(get_quote())}}
    </div>
  </div>

  {%import 'links.html.jinja' as linkshtml with context%}

  {%set link = get_link_one()%}
  <div class="box">
    <div class="boxtitle">
      {{link.category}} <a class="after_linkbox" href="/links">{{zh('查看更多')}}</a>
    </div>

    <div class="boxlink">
      {{linkshtml.linkbox(link, show_uploader=False)}}
    </div>
  </div>

  {%if common_links %}
  <div class="box">
    <div class="boxtitle">
      {{zhen('常用链接','Useful Links')}}
    </div>
    <div class="categories">
      {%for l in common_links%}
      {{macros.link_bubble(l)}}
      {%endfor%}
    </div>

  </div>

  {%endif%}



  <div class="box">
    <div class="boxtitle" title="按照被点赞的次数">
      {{zhen('最佳帖文','Best Thrd/Posts')}}
    </div>
    <div class="navigator_quote">
      {{switchy_tabs([
        [zhen('三日','3day'),list_threads(get_weekly_best(0, 3, n=15))],
        [zhen('本周','week'),list_threads(get_weekly_best(0, 7, n=15))],
        [zhen('本月','month'),list_threads(get_weekly_best(7, 30, n=15))],
        [zhen('上月','prev'),list_threads(get_weekly_best(30, 60, n=15))],
        ], index=random.randint(0,5)%4)}}
    </div>
  </div>

  <div class="box">
    <div class="boxtitle" title='按照社会信用分'>
      {{zhen('社会信用榜','Most Liked')}}
      <a class="after_linkbox" href="/t/14123">{{
        zhen('了解更多','Learn More')}}</a>
    </div>
    <div class="navigator_quote">
      {{list_users(get_high_trust_score_users_random(12))}}
    </div>
  </div>

  <div class="box">
    <div class="boxtitle" title='按照被点赞的次数'>
      {{zhen('高赞用户','Most Liked')}}
    </div>
    <div class="navigator_quote">
      {{switchy_tabs(tabs=[
        [zhen('三日','3day'),list_users(get_weekly_best_user(0,3,n=20))],
        [zhen('本周','week'),list_users(get_weekly_best_user(0,7,n=20))],
        [zhen('本月','month'),list_users(get_weekly_best_user(7,30,n=20))],
        [zhen('上月','prev'),list_users(get_weekly_best_user(30,60,n=20))],
        ], index=random.randint(0,5)%4)}}
    </div>
  </div>

  <div class="box">
    <div class="boxtitle">
      {{zhen('守望','Keep Watch')}} <a class="after_linkbox" href="/t/9387">{{
        zhen('了解更多','Learn More')}}</a>
    </div>

    <div class="bigrednumber">
      {{days_between('2020-04-19','2021-08-15')}}
    </div>
    <div class="below_bigrednumber">
      days between 2020-4-19<br> and 2021-8-15
    </div>

    <div class="bigrednumber green">
      {{days_since('2021-08-15')}}
    </div>
    <div class="below_bigrednumber">
      days since 2021-8-15
    </div>

  </div>

  <div class="box">
    <div class="boxtitle">
      {{zhen('铭记','Never Forget')}}
    </div>
    <div class="bigrednumber">
      {{days_since('1989-06-04')}}
    </div>
    <div class="below_bigrednumber">
      days since 1989-06-04
    </div>
  </div>

  <div class="box">
    <div class="boxtitle">
      {{zhen('语言 (LANG)','Language')}}
      <a class="after_linkbox" href="/translations">{{
        zhen('帮助翻译','Help Translate')}}</a>
    </div>
    {{macros.language_selector()}}
  </div>



  {%if ads%}
  <div class="box">
    <div class="boxtitle">
      {{zh('广告')}} <a class="after_linkbox" href="/t/12386">关于广告</a>
    </div>

    <div class="adboxlist">
      {%for ad in ads%}
        <div class="adbox">
          <a href="{{ad.url}}" title="{{ad.alt}}" target="_blank"><img
            src="{{ad.image}}?hash={{ad_images_hash}}"
            alt="{{ad.alt}}"
            style="width:100%;"
            ></a>
        </div>
      {%endfor%}
    </div>

  </div>
  {%endif%}

</div>

{%endblock%}
