{%extends 'base.html.jinja'%}
{%block content%}

{{macros.paginate(pagination)}}

<div class="threadlist">
  {%for t in threadlist%}
    {{macros.post_threadlist(t)}}
  {%endfor%}
</div>

{{macros.paginate(pagination)}}


{%endblock%}

{%block navigator%}

{%if categories%}

<div class="box">
  <div class="boxtitle">
    分类列表
  </div>

  <div class="categories">
  {%for c in categories%}
  {{macros.category_bubble(c)}}
  {%endfor%}
  </div>
</div>

{%endif%}

{%if common_links %}
<div class="box">
  <div class="boxtitle">
    常用链接
  </div>
  <div class="categories">
    {%for l in common_links%}
    {{macros.link_bubble(l)}}
    {%endfor%}
  </div>

</div>

{%endif%}

{%endblock%}
