{%extends 'base.html.jinja'%}
{%block content%}


{%if limits%}
<div class="threadlistitem">
    <div class="post_content padded">

      <p>下表根据当前计算规则自动生成</p>

      <p>关于社会信用分的更多信息在<a href="/t/14123">这里</a></p>

      <p>全站信用分统计在<a href="/u/all?sortby=trust_score">这里</a></p>

      <p>如果不想因为社会信用分太低而被限制发言，最简单的方式是去水区<a href="/t/14636">新人报道</a>，让其他信用分高的用户给你点赞，点赞之后你的信用分就会增加</p>

      <p>
        <table>
          <thead>
            <th>社会信用分</th>
            <th>每48h评论数</th>
            <th>每48h主题数</th>
          </thead>

          <tbody>
            {%for ts, lp, lt, is_me in limits %}

              {%if is_me%}
              <tr style="background-color:#fed;">
                {%else%}
                <tr >

                {%endif%}
                <td >{{ts}}</td>
                <td >{{lp}}</td>
                <td >{{lt}}</td>
              </tr>
            {%endfor%}
          </tbody>

        </table>


      </p>

    </div>
</div>
{%endif %}

{%if spam_words%}
<div class="threadlistitem">
    <div class="post_content padded">
      <p>为节省篇幅，本表只列出{{spam_words_length}}个条目中的{{spam_words|length}}个。</p>


      <p>
        <div class="pmspair">
          <span class="pmskeyname">gram</span>
          <span class="pmsvalue">log(p)</span>
        </div>

      </p>

      {%for word, logp in spam_words%}
        <div class="pmspair {{'negative' if logp<0 else ''}}"
          style="opacity:{{clip01((logp/7)|abs)}}">
          <span class="pmskeyname">{{word}}</span>
          <span class="pmsvalue">{{'%.3f'|format(logp)}}</span>
        </div>
      {%endfor%}

      <p>令人感到遗憾的是，本表顶部是台湾，底部是中国。</p>

    </div>
</div>
{%endif %}


{%endblock%}
