{%extends 'base.html.jinja'%}
{%block content%}

{%if t%}{# if there is a thread object #}
<div class="threadlist">
  {{macros.mixed_content(t)}}
</div>
{%endif%}

{%for medal in medals%}
  <div class="line_below_item">
    <div class="padlr flex_center">

      <div style="text-align: center;" id="{{medal.name}}">
        <p><span style="font-size:26px;">{{medal.name}}</span></p>
        <p>{{medal.brief}}</p>
      </div>


      <div class="line_of_avatars flex_center">
        {%for user in medal.listusers%}
          {{macros.avatar(user, class='follower_avatar', no_decoration=True)}}
        {%endfor%}
      </div>

      <br>


    </div>
  </div>


{%endfor%}
{%endblock%}
