{%extends 'base.html.jinja'%}
{%block content%}

{%if t%}{# if there is a thread object #}
<div class="threadlist">
  {{macros.post_postlist_header(t)}}
</div>
{%endif%}

{{macros.paginate(pagination, class='padlr') if pagination}}

<div class="threadlist">

  {%for u in userlist%}
    {{macros.post_userlist(u)}}
  {%endfor%}

</div>
{{macros.paginate(pagination, class='padlr') if pagination}}

{%endblock%}
