{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist">
  {%call macros.post(u,[])%}
  <p>用户名 {{u.name}}
    {%if g.logged_in%}
      <a href="/editor?target=username/{{u.name}}">发私信给ta</a>
    {%endif%}
  </p>
  <p>UID {{u.uid}}</p>
  <p>注册时间 {{format_time_datetime(u.t_c)}}</p>
  <p>发帖 <a href="/u/{{u.uid}}/t">{{u.stats.nthreads}}</a></p>
  <p>回复 <a href="/u/{{u.uid}}/p">{{u.stats.nposts}}</a></p>

  {%if u.brief %}
  <blockquote>
    {{u.brief}}
  </blockquote>
  {%else%}
  <p>（个人简介暂无）</p>
  {%endif%}
  {%endcall%}
</div>

<hr>
<div class="threadlist">
  {%if user_is_self and updateable_personal_info%}
    <div class="invitations">
      <div class="invitation_list_title">
        修改个人资料
      </div>

      <div class="register" id="update_personal_info">
        {%for item, explain in updateable_personal_info%}
          <label>{{explain}}</label>
          <input type="text" id="{{item}}" value={{g.logged_in[item]}}>
          <br>
        {%endfor%}

        <button type="button" id="button_update_personal_info">修改个人资料</button>
      </div>
    </div>
  {%endif%}

  {%if user_is_self%}
  <div class="invitations">
    <div class="invitation_list_title">
      上传头像
    </div>

    <div class="post_content">
      <blockquote>
        （图片限1MB，支持透明度，自动裁剪为方形，上传后由于浏览器缓存原因，不会立即起作用，请 Ctrl-F5 绕开浏览器缓存，不同浏览器绕开缓存方式不同，可参考<a href="https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Bypassing_cache">这里</a>）
      </blockquote>
    </div>

    <img src="/avatar/{{u.uid}}?no-cache=1" alt="">

    <div class="register" id="update_personal_info">
      <form>
        <input type="file" id="file_selector" name="avatar">
        </form>

      <button type="button" id="button_upload">上传</button>
    </div>
  </div>
  {%endif%}

  {%if (invitations!=None)%}
  <div class="invitations">
    <div class="invitation_list_title">
      我的邀请码
    </div>
    <div class="invitation_list">

      {%for i in invitations%}
      <div class="invitation{{'' if i.active else ' inactive'}}">
        <a href="/register?code={{i._key}}">{{i._key}}</a>
        <span>{{format_time_datetime(i.t_c) if i.t_c}}</span>
        <span>{{'未使用' if i.active else '已使用'}}</span>
        {%if i.users%}
          <a href="/u/{{i.users[0].uid}}">{{i.users[0].name}}</a>
        {%endif%}
      </div>
      {%endfor%}

    </div>
    <button type="button" onclick='generate_invitation_code()'>生成邀请码</button>
  </div>
  {%endif%}

  {%if user_is_self%}
  <form class="register">
    <label>用户名</label>
    <input type="text" id="username" value="{{g.logged_in.name}}" disabled="true">
    <br>
    <label>原密码</label>
    <input type="password" id="old_password" value="" placeholder="（若没有则留空）">
    <br>
    <label>新密码</label>
    <input type="password" id="new_password" value="">
    <br>
    <label>再输入一次</label>
    <input type="password" id="password2" value="">
    <br>
    <button type="button" id="change_password">修改密码</button>
  </form>

  <div class="post_content warning">
    {{password_warning|safe}}
  </div>

  {%endif%}
</div>

{%endblock%}
